$green-primary-light: #7ed56fcc;
$green-primary-dark: #28b485cc;

$blue-primary-light: #5e7ae9;
$blue-primary-dark: #4562d4;

$orange-primary-light: #efac4d;
$orange-primary-dark: #e65520;
$orange-primary-dark-2: orangered;

$color-bg-white: white;
$color-bg-grey-1: rgba(242, 241, 241, 0.6);
$color-bg-grey-2: rgb(103, 103, 103);
$color-bg-grey-3: rgb(125, 125, 125);
