*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 3rem;
  font-family: "Noto Sans Mono", monospace;
  background-color: $color-bg-white;

  overflow-x: hidden;
}
